<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Betsy's Android TV Tools, Yes</title>
  <link rel="stylesheet" type="text/css" href="baatty.css">
  <script src="js/vue.js"></script>
  <script type="text/javascript">
    window.onload = function () {
      var device_list = new Vue({
        el: '#device-list',
        data: {
          devices: [
            { ip: '127.0.0.1', name: 'the localest of hosts', type: 'tv', selected: false },
            { ip: '127.0.0.2', name: 'a screenless board', type: 'board', selected: true },
            { ip: '127.0.0.3', name: 'the most local host, ever', type: 'board', selected: false },
            { ip: '127.0.0.4', name: '', type: 'board', selected: false },
          ],
          new_device_name: "",
          new_device_ip: "",
        },
        methods: {
          add_item: function() {
            this.new_device_ip = this.new_device_ip.trim();
            this.new_device_name = this.new_device_name.trim();
            if (this.new_device_ip === "") return;
            const new_device = { ip: this.new_device_ip, name: this.new_device_name, type: "board", selected: false };
            this.devices.push(new_device);
            this.new_device_name = "";
            this.new_device_ip = "";
          }
        }
      });
    }

  </script>
</head>
<body>
  <div id="device-list">
    <ul class="device-list">
      <h1>devices</h1>
      <input type="text" v-model="new_device_ip" id="new_device_ip" placeholder="add ip to device list" v-on:keyup.enter="add_item">
      <li v-for="device in devices" :class="{ selected: device.selected }" v-on:click="device.selected = !device.selected">
        <img :src="'img/' + device.type + '.png'" :alt="device.type" class="device-icon">
        <span v-if="device.name === ''">{{ device.ip }}</span>
        <span v-else>{{ device.name }} <span class="ip">[{{ device.ip }}]</span></span>
      </li>
    </ul>
  </div>
</body>
</html>